﻿@model GameStore.Models.Cart.CartInfo

@{
    ViewBag.Title = "GameStore: ваша корзина";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>


<h2>Ваша корзина</h2>
<table id="cartTable" class="table">
    <thead>
        <tr>
            <th class="text-left">Игра</th>
            <th class="text-center">Кол-во</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
            <th class="text-center"></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.OrderGames)
        {
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(m => line.Game.Name)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(m => line.Quant)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => line.Game.Price)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(m => line.Cost)
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart", new { gameId = line.Game.GameId, returnUrl = Model.ReturnUrl }))
                    {
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Html.DisplayFor(m => m.TotalCost)
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
</div>

