﻿@model GameStore.Models.Cart.CartInfo

<li class="navbar-text">
    <b>Ваша корзина:</b>
    @Model.OrderGames.Sum(m => m.Quant) игр,
    @Html.DisplayFor(m => m.TotalCost)
</li>
<div class="navbar-right">
    @Html.ActionLink("Заказать", "Index", "Cart",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
</div>


