﻿@model GameStore.Models.Entity.Game
@using GameStore.Models.Person

<div class="form-group well">
    <h2>
        @Html.DisplayFor(m => m.Name)
        <span class="pull-right label label-primary">
            @Html.DisplayFor(m => m.Price)
        </span>
    </h2>
    @if (User.Identity.IsAuthenticated && !User.Identity.GetUserRole().Equals("admin"))
    {
        using (Html.BeginForm("AddToCart", "Cart", new { gameId = Model.GameId, returnUrl = Request.Url.PathAndQuery }))
        {
            <div class="pull-right">
                <input type="submit" class="btn btn-success" value="Добавить в корзину" />
            </div>
        }
    }
    <p class="lead">
        @Html.DisplayFor(m => Model.Description)
    </p>
</div>
