﻿@using GameStore.Models.Person;

<ul class="nav navbar-nav navbar-right">
    @if (User.Identity.IsAuthenticated)
    {
        <li>
            @Html.ActionLink(User.Identity.Name,"#")
        </li>
        <li>
             @Html.ActionLink("Logout", "Logout", "Account")
        </li>
        if (User.Identity.GetUserRole().Equals("admin"))
        {
            @Html.ActionLink("К БАЗЕ", "Index", "Admin",
    new { returnUrl = Request.Url.PathAndQuery },
    new { @class = "btn btn-default navbar-btn" })
        }
        else
        {
            @Html.Action("Summary", "Cart");
        }
    }
    else
    {
        <li>
            @Html.ActionLink("Registration", "Registr", "Account")
        </li>
        <li>
            @Html.ActionLink("Login", "Login", "Account")
        </li>
    }
</ul>

