﻿@{
    ViewBag.Title = "Админ панель: удаление товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3></h3>
    </div>
    @model GameStore.Models.Entity.Game

    @{
        ViewBag.Title = "Delete";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

    <h2>Удаление игры «@Model.Name»</h2>

    <h3>Вы уверены, что хотите ее удалить?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Categories)
            </dt>

            <dd>
                <ul class="nav navbar-nav">
                    @foreach (var cat in Model.Categories)
                    {
                        <li class="navbar-text">@cat.Name</li>
                    }
                </ul>

            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="panel-footer">
                <input type="submit" value="Удалить" class="btn btn-primary" />
                @Html.ActionLink("Вернуться к списку", "Index", null, new
       {
           @class = "btn btn-default"
       })
            </div>


        }
    </div>
    </div>
