﻿@model IEnumerable<GameStore.Models.Entity.Game>

@{
    ViewBag.Title = "Админ панель: список товаров";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список игр</h3>
         @Html.ActionLink("Вернуться к сайту", "List", "Game", new { returnUrl = Request.Url.PathAndQuery }, new { @class = "btn btn-default" })
    </div>
    
    <div class="panel-body">
        <table id="cartTable" class="table table-striped table-condensed table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categories)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="text-center">Действия</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "Edit", new { id = item.GameId, @class = "text-left" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description, new { @class = "text-left" })
                    </td>
                    <td>
                        <ul class="nav navbar-nav">
                            @foreach (var cat in item.Categories)
                            {
                                <li class="navbar-text">@cat.Name</li>
                            }
                        </ul>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price, new { @class = "text-right" })
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить игру", "Create", null,
            new { @class = "btn btn-default" })
    </div>
</div>